body {


}

nav#taxonomies ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 16em;
	background-color: #88d400;
	border: 1px solid #486b02;
	
}

.taxons-list li {
}

.taxons-list a {
 /*         font-size: $main_navigation_font_size;*/
	display: block;
	color: #2b3f00;
	text-decoration: none;
	border-top: 1px solid #e4ffd3;
	border-bottom: 1px solid #486b02;
	padding: 0.3em 1em;
}

.taxons-list a:hover, .taxons-list a:focus, .taxons-list .selected {
	color: #e4ffd3;
	background-color: #6da203;
}



